apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: infra
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'netdata'
        metrics_path: '/api/v1/allmetrics'
        params:
          format: ['prometheus']
        static_configs:
          - targets: ['netdata.monitoring.svc.cluster.local:19999']
