apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: infra
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-read-access
rules:
  - apiGroups: [""] # core
    resources:
      [
        "pods",
        "nodes",
        "nodes/proxy",
        "services",
        "endpoints",
        "configmaps",
        "persistentvolumeclaims",
        "persistentvolumes",
        "namespaces",
        "resourcequotas",
        "nodes/stats",
        "events",
      ]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments", "statefulsets", "daemonsets", "replicasets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["batch"]
    resources: ["jobs", "cronjobs"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["metrics.k8s.io"]
    resources: ["pods", "nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["policy"]
    resources: ["poddisruptionbudgets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses", "networkpolicies"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["autoscaling"]
    resources: ["horizontalpodautoscalers"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-full-access-binding
subjects:
  - kind: ServiceAccount
    name: prometheus
    namespace: infra
roleRef:
  kind: ClusterRole
  name: prometheus-read-access
  apiGroup: rbac.authorization.k8s.io
