apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki
  namespace: infra
spec:
  serviceName: loki
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
        - name: loki
          image: grafana/loki:3.3.2
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          args:
            - -config.file=/etc/loki/loki-config.yaml
          ports:
            - containerPort: 3100
          resources:
            requests:
              memory: "64Mi"
              cpu: "20m"
            limits:
              memory: 200Mi
              cpu: 200m
          volumeMounts:
            - name: config
              mountPath: /etc/loki
            - name: storage
              mountPath: /loki
      volumes:
        - name: config
          configMap:
            name: loki-config
        - name: storage
          persistentVolumeClaim:
            claimName: loki-pvc
